.logo {
    height: 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.sidebar {
    background-color: #fdec4f;
    min-height: calc(100vh - 95px);
    max-height: calc(100vh - 95px);
    overflow-y:auto;
}
