.logo {
    height: 40px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.sidebar {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow-y:auto;
}

.addQrButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}