.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100vw;
    height: calc(100vh - 60px);
}

.card {
    display: flex;
    width: 500px !important;
    align-items: center;
}

.ButtonLeft {
    position: absolute;
    left: -30px;
}
