body {
  margin: 0;
  font-family: 'ALS Hauss',Helvetica,'Helvetica New',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
